@use "../base/variables" as v;

.dark-background {
  height: 125vh;
  background-color: rgba(0, 0, 0, 0.537);
  padding-top: 2%;
}

.zaglowek {
  @extend %mixin-card;
  border-color: v.$text;
  margin: auto;
  padding: 0 30px 0 30px;
  display: flex;
  width: 60%;
  height: 60px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}
h2 {
  padding: 0;
  color: v.$text_zaglowki;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
}
.zaglowek-right {
  display: flex;
  align-items: center;
}
.zaglowek-item {
  line-height: 2;
  display: flex;
  color: v.$text_link;
  padding-right: 5px;

  p {
    font-weight: 700;
    font-size: 18px;
  }
}

.zaglowek-img {
  margin-left: 5px;
  margin-right: 10px;
  width: 12px;
}
.content-main {
  @extend %mixin-card;
  margin: auto;
  padding: 0px 100px 50px;
  width: 60%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.miasto {
  font-size: 40px;
  padding: 50px 10px;
}
.miasto-img {
  margin-bottom: -18px;
  width: 80px;
}
.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .block {
    margin-top: 50px;
    h2 {
      line-height: 2;
    }
  }
}
.flex-p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.temp {
  color: v.$text_zaglowki;
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
}
.temp-img {
  margin-bottom: -22px;
  width: 27%;
}

.data {
  margin-top: 5%;
  color: v.$text_zaglowki;
  font-size: 30px;
  font-weight: 900;
}
.data-img {
  margin-bottom: -22px;
  width: 65px;
}
