
*{
    box-sizing: border-box;

}

body{
    // min-height: 100%;
    font-family: 'Roboto', sans-serif;
   
}
.weather{
    background: url('../assets/weather.jpg') center/cover fixed;
}
.sun{
    background: url('../assets/sun.jpg') center/cover fixed;
}
.rain{
    background: url('../assets/rain.jpg') center/cover fixed;
}
.cloud{
    background: url('../assets/cloud.jpg') center/cover fixed;
}

